.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: blanchedalmond;

  > .header-right {
    text-align: right;

    > .login-time {
      font-size: 12px;
    }

    > .name {
      margin-top: 10px;
    }
  }
}
