@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

body {
  margin: 0;
  min-height: 100vh;
  height: 100%;
  scrollbar-gutter: auto;
  display: flex;
  justify-content: center;

  &.has-scrollbar {
    scrollbar-gutter: stable;
  }

  #root {
    height: 100%;
    width: 100vw;
    max-width: 1200px;
  }
}
